.light-box{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    z-index:1000;
}
.light-box-timer{
    color: white;
}
.active-lightbox{
    transform: scale(1);
}
.clipboard-container{
    position: relative;
}
.clipboard-button{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    border: none;
}
.copy-icon{
    font-size: 2.5rem;
}
.copy-feedback{
    position: absolute;
    top: -15px;
    left: -30px;
    background-color: white;
    width: 100px;
    height: 30px;
    padding: 15px;
    text-align: center;
    opacity:0;
    border-radius: 15px;
    pointer-events: none;
    z-index: -1;
}
.chatgpt-link{
    color: white;
    margin: 1em 0;
}
.show{
    animation: showFeedback 0.6s ease-in-out forwards;
}
@keyframes showFeedback{
    0%{
        top:-15px;
        left:-30px;
        opacity: 0;
    }
    100%{
        top:-15px;
        left:85px;
        opacity: 1;
    }
}